{{ define "menuLeft" }}
<li><a href="typography.html"><i class="fa fa-text-height"></i><span>Typography</span></a>
</li>
<li><a href="charts.html"><i class="fa fa-bar-chart-o"></i><span>Charts</span></a>
</li>
{{ end }}

{{ define "breadcrumbs" }}
<li><a href="/app/">Home</a></li>
<li class="active">Traces</li>
{{ end }}

{{ define "script" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" integrity="sha384-yib/J8n+cev8VyEYY+4A3nSvnqCRhEkxUQhVFp8X+YuIXd0qhT3rTYXqel0zWzni" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" integrity="sha384-htFkmzBKFrwO7EbvHZPvJXWg0sJIkPPUTBDe6LXOU2ghApFVGQx9++EDSrKMZtHE" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" integrity="sha384-qNRjPXKOnea7MmtbXG6HLwVyoGNFsu7ntdDOFOt3FS4vmj4MWUKyyKMjRKu0Hr4h" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" integrity="sha384-L74JDRkaoB7PWnReNepwX6+kSckc13TJXrka4EerY9jxQxSDl0dTguSLcA7dEfq8" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" integrity="sha384-dsXH1jw5mvdtskz6tkzogTCdKWJv4k12j2BOHq3okVzlZiIsQhQXSh0I86ggUPPf" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" integrity="sha384-VN/74A9zRhPrbgZ1tJ4dzGabANCIhsrKx6v6iXVFh5SIy6noRPJ+otLRTwJ260hq" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" integrity="sha384-Pl8RVCqSvsApnng2TEtrl1lHWlEozdPYTpk35W5LeFsrUsPk64XprIZXQOUq4hGj" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" integrity="sha384-utW62Q5udTycRsqDMdQwjeaKASTAE2cf20juuz5yfC1n1hu8gBJ1Pn0oEzKIb8Gd" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js" integrity="sha384-1dq/VDAF2KuzYz0N0KG39nI4v4MC7WeyP+lfpNEGOlCgaO61VwJxK7FRBYuiewdG" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js" integrity="sha384-fro86Q7AQA74lBpygl530tK1E36/rPV+oakVwbKyTT98X8lzz3+yQ4AJEBlRvSNV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js" integrity="sha384-dX8Lmeo3rVl33tMPuGNrcJxh8dqvxqzN4SuirunQiozfAzUJnI9u50cMy12ArXxb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js" integrity="sha256-zI6VVO07NPmVW11q3RQE42YbRmJIkkunrcQ9LEYxJsQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" integrity="sha256-KWLvsoTXFF8o3o9zKOjUsYC/NPKjgYmUXbrxNk90F8k=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" integrity="sha256-pEdn/pJ2tyT37axbEIPkyUUfuG1yXR0+YV+h+jphem4=" crossorigin="anonymous"></script>
{{ end }}

{{ define "css" }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" />
<style type="text/css">
    div.dataTables_filter label:before {
        display: none !important;
    }

    .foot {
    height: 35px;
    border-top: solid 1px #582C83;
    }

    .foot button {
        margin: 15px;
    }

    .form-group > .alert {
        margin-left: 30px;
        margin-right: 15px;
    }

    /*Validation*/
    .parsley-errors-list {
        margin-top: 4px;
        padding: 0;
    }

    .parsley-errors-list li {
        padding: 0;
        list-style: none;
        color: #cc0000;
    }

    .parsley-error {
        border-color: #c00 !important;
    }

    .label-left {
        text-align: left !important;
    }

    .row .col-md-5, .row .col-md-8, .row .col-sm-5 {
        display: inline-block;
    }

</style>
{{ end }}

{{define "jquery" }}
<script type="text/javascript">
    function showAddEditPopup(url) {
        var win = window.open(url, name, 'height=500,width=850,resizable=yes,scrollbars=yes');
        win.focus();
        win.onbeforeunload = function(){
            //alert("popup closed");
        };
        return false;
    }

    function refresh_select_list(select_list_obj) {
        $.get({
            url: list_data_url,
            success: function(data, status, xhr) {
            select_list_obj.select2({
                data: data
            });
            }
        });
    }

    var setTableSize = function(){
        var topOffset = document.getElementsByClassName("navbar")[0].offsetHeight + 10 ; //10 = size of margin set on navbar
        var bottomOffset = document.getElementsByClassName("foot")[0].offsetHeight + 16 + 10; //16 = size of bottom margin on form footer, 10 is so it isn't right at the bottom
        var formViewBox = document.getElementsByTagName("form")[0];
        formViewBox.style.height = (window.innerHeight - topOffset - bottomOffset) + "px";
    }

    function goBack(){
        window.history.back();
    }

    $(document).ready(function(){
        'use strict'

        $(".datetime").datetimepicker({autoclose: true, pickerPosition: 'bottom-left'});
        $(".form-select").select2();
        
        $(".md-trigger").click(function(evt){
        var url = $(this).attr("data-url");
        showAddEditPopup(url);
        });

        document.getElementsByClassName("cancel-button")[0].onclick = goBack;

        window.onresize = setTableSize;
        setTableSize();

        var f = $('form');
        $('.submit-button').click(function(evt){
        if (f.parsley().validate()) {
            f.submit();
        }
        });

        f.parsley().validate();
    });


</script>
{{end}}

{{ define "body" }}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <form method="POST" id="mainform" class="form-horizontal" data-parsley-validate data-parsley-errors-container="#errorsContainer">
                <div class="form-group"> 
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div id="errorsContainer">
                        </div>
                    </div>
                </div>
                {{if .Errors }}
                <div class="form-group">
                    <div class="col-sm-12">
                        {{range $msg := .Errors}}
                        <div class="alert alert-danger alert-white rounded">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
                            <div class="icon"><i class="fa fa-times-circle"></i></div>
                                {{- $msg -}}
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                {{if .Successes }}
                <div class="form-group">
                    <div class="col-sm-12">
                        {{range $msg := .Successes}}
                        <div class="alert alert-success alert-white rounded">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
                            <div class="icon"><i class="fa fa-times-circle"></i></div>
                                {{- $msg -}}
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                {{template "formview" .FormObject}}
            </form>
            <div class="form-group foot">
                {{ if UserHasPermission "WriteAll" }}
                <button type="submit" class="btn btn-primary pull-right submit-button" form="mainform">Save</button>
                {{ end }}
                <button class="btn pull-right cancel-button">Back</button>
            </div>
            {{template "subforms" .FormObject}}
        </div>
    </div>
</div>
{{ end }}
