<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Micronix Solutions LLC">
    <title>{{.AppName}} :: {{.PageName}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,200,100" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    -->
    {{ template "css" }}
    <!--color scheme: https://colorschemedesigner.com/csd-3.5/#3k41TqXTjw0w0-->
    <style type="text/css">

      a, .btn-outline-primary, .page-link {
        color: rgb(56, 22, 88);
      }

      .btn-primary, .select2-container--default .select2-results__option--highlighted[aria-selected], .page-item.active .page-link {
        background-color:rgb(56, 22, 88);
      }

      .btn-primary, .btn-outline-primary, .page-item.active .page-link {
        border-color: rgb(56, 22, 88);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:rgb(56, 22, 88);">
      <a class="navbar-brand" href="#">{{.AppName}} / {{.PageName}} {{ if .FormTitle }} -> {{ .FormTitle }} {{ end }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{$activeMenuItem := .ActiveMenuItem }}
            {{ range $menuItem := .MenuItems}}
              {{ if $menuItem.VisibleMenu }}
                <li class="nav-item {{ if eq $activeMenuItem $menuItem.Tag }} active {{ end }} {{ if $menuItem.HasVisibleChildren }} dropdown {{ end }}">

                  <a 
                    class=" nav-link {{ if $menuItem.HasVisibleChildren }} dropdown-toggle {{ end }}"  
                    href="{{ if $menuItem.HasVisibleChildren }} # {{ else }} {{ $menuItem.URI }} {{ end }}"
                    {{ if $menuItem.HasVisibleChildren }} role="button" {{ end }}
                    {{ if $menuItem.HasVisibleChildren }} data-toggle="dropdown" {{ end }}
                    {{ if $menuItem.HasVisibleChildren }} aria-haspopup="true" {{ end }}
                    {{ if $menuItem.HasVisibleChildren }} aria-expanded="false" {{ end }}
                  >
                    {{ $menuItem.DisplayName }}
                  </a>
                
                  {{ if $menuItem.HasVisibleChildren }}
                    <div class="dropdown-menu">
                      {{ range $subMenuItem := $menuItem.Children }}
                        {{ if $subMenuItem.VisibleMenu }}
                        <a 
                          class="dropdown-item {{ if eq $activeMenuItem $subMenuItem.Tag }} active {{ end }}"
                          href="{{ $menuItem.URI }}{{ $subMenuItem.URI }}">
                          {{ $subMenuItem.DisplayName }}
                        </a>
                        {{ end }}
                      {{ end }}
                    </div>
                  {{ end }}
                </li>
              {{ end }}
            {{ end }}
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">{{- .User.Fullname -}}</a>
            <div class="dropdown-menu">
              <!--
              <li><a href="#">My Account</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
              <li class="divider"></li>
              -->
              <a class="dropdown-item" href="{{ .LogoutURI }}">Sign Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {{ template "body" . }}
      </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    {{ template "script" }}
    {{ template "jquery" }}
  </body>
  </html>
