{{ define "breadcrumbs" }}
<li><a href="/app/">Home</a></li>
<li class="active">Traces</li>
{{ end }}

{{ define "script" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" integrity="sha384-yib/J8n+cev8VyEYY+4A3nSvnqCRhEkxUQhVFp8X+YuIXd0qhT3rTYXqel0zWzni" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" integrity="sha384-htFkmzBKFrwO7EbvHZPvJXWg0sJIkPPUTBDe6LXOU2ghApFVGQx9++EDSrKMZtHE" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" integrity="sha384-qNRjPXKOnea7MmtbXG6HLwVyoGNFsu7ntdDOFOt3FS4vmj4MWUKyyKMjRKu0Hr4h" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" integrity="sha384-L74JDRkaoB7PWnReNepwX6+kSckc13TJXrka4EerY9jxQxSDl0dTguSLcA7dEfq8" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" integrity="sha384-dsXH1jw5mvdtskz6tkzogTCdKWJv4k12j2BOHq3okVzlZiIsQhQXSh0I86ggUPPf" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" integrity="sha384-VN/74A9zRhPrbgZ1tJ4dzGabANCIhsrKx6v6iXVFh5SIy6noRPJ+otLRTwJ260hq" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" integrity="sha384-Pl8RVCqSvsApnng2TEtrl1lHWlEozdPYTpk35W5LeFsrUsPk64XprIZXQOUq4hGj" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" integrity="sha384-utW62Q5udTycRsqDMdQwjeaKASTAE2cf20juuz5yfC1n1hu8gBJ1Pn0oEzKIb8Gd" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js" integrity="sha384-1dq/VDAF2KuzYz0N0KG39nI4v4MC7WeyP+lfpNEGOlCgaO61VwJxK7FRBYuiewdG" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js" integrity="sha384-fro86Q7AQA74lBpygl530tK1E36/rPV+oakVwbKyTT98X8lzz3+yQ4AJEBlRvSNV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js" integrity="sha384-dX8Lmeo3rVl33tMPuGNrcJxh8dqvxqzN4SuirunQiozfAzUJnI9u50cMy12ArXxb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js" integrity="sha256-zI6VVO07NPmVW11q3RQE42YbRmJIkkunrcQ9LEYxJsQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" integrity="sha256-KWLvsoTXFF8o3o9zKOjUsYC/NPKjgYmUXbrxNk90F8k=" crossorigin="anonymous"></script>
<!--<script src="/assets/lib/jquery.niftymodals/js/jquery.modalEffects.js" type="text/javascript"></script>-->
{{ end }}

{{ define "css" }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" />
<style type="text/css">
    div.dataTables_filter label:before {
        display: none !important;
    }

    .dt-buttons {
        display: inline-block;
        margin-left: 5px;
    }

    .filter-container {
        box-shadow: rgb(204, 204, 204) 2px 2px 3px;
    }

    .filter-container, .list-container {
        padding-top: 10px;
    }

    .card-header {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }

</style>
{{ end }}

{{define "jquery" }}
<script type="text/javascript">

    function onTableFilterBoxChanged(index){
    return function(){
        var table = $("#datatable").DataTable();

        if ( table.column(index).search() !== this.value ) {
        table
            .column(index)
            .search( this.value )
            .draw();
        }
    };
    }

    function onDatePickerRangeChanged(ctrl) {
    var jqCtrl = $(ctrl);
    var startDate = jqCtrl.data('daterangepicker').startDate;
    var endDate = jqCtrl.data('daterangepicker').endDate;
    jqCtrl.children('span').first().html(startDate.format('MM/DD/YYYY') + ' - ' + endDate.format('MM/DD/YYYY'));
    document.getElementsByName(jqCtrl.attr('data-for'))[0].value = startDate.format('MM/DD/YYYY') + '-' + endDate.format('MM/DD/YYYY');
    }

    var setTableSize = function(){
    var docWidth = document.body.offsetWidth;
    var topOffset;

    if (docWidth > 752) {
        $("#filtercontent").collapse('show');
        $("#filtershowbutton").collapse('hide');
        topOffset = document.getElementsByClassName("navbar")[0].offsetHeight + 10; //10 = size of margin set on navbar
        var filterbox = document.getElementsByClassName("filter-controls")[0];
        filterbox.style.height = (window.innerHeight - topOffset) + "px"; //190 for table-responsive
    } else {
        $("#filtershowbutton").collapse('show');
        topOffset = document.getElementsByClassName("navbar")[0].offsetHeight + 10; //10 = size of margin set on navbar
        topOffset + document.getElementsByClassName("filter-controls")[0].offsetHeight;

    }

    var table = document.getElementsByClassName("table-responsive")[0];
    table.style.height = (window.innerHeight - topOffset) + "px"; //245 for table-responsive

    }

    $(document).ready(function(){
        'use strict'

        //options for date range picker
        var dateRangeOptions = {
        startDate: moment().subtract('days', 365),
        endDate: moment().add('days', 365),
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: true,
        timePickerIncrement: 1,
        timePicker12Hour: false,
        ranges: {
            'Last 7 Days': [moment().subtract('days', 7), moment()],
            'Last 30 Days': [moment().subtract('days', 30), moment()],
            'Last 12 Months': [moment().subtract('months',12), moment()],
        },
        opens: 'right',
        buttonClasses: ['btn'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'MM/DD/YYYY',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
        };

        /*Datatable init*/
        var table = $("#datatable").DataTable({
        deferRender: true,
        serverSide: false,
        oLanguage: { "sSearch": "","sLengthMenu": "_MENU_","oPaginate": {"sNext": " ","sPrevious": " "}},
        lengthMenu: [[ 10, 25, 50, 75, 100 ], [ 'Show 10', 'Show 25', 'Show 50', 'Show 75', 'Show 100' ]],
        autoWidth: false,
        info:     false,
        buttons: [
            'copy', 
            'excel',
            {
            extend : 'pdf',
            orientation : 'landscape',
            pageSize: 'letter',
            text : 'PDF',
            titleAttr : 'PDF'
            } 
        ]
        });

        //remove global search elements
        //$('#datatable_filter > label').remove();
        //$('#datatable_filter > span').remove();

        /*Export buttons */
        table.buttons().container()
        .appendTo( $('#datatable_length', table.table().container() ) );
        $('.dt-button').addClass('btn btn-outline-primary')

        /**date range picker*/
        $('.filter-daterange').each(function(idx, ctrl){
        $(ctrl).daterangepicker(dateRangeOptions, function(start, end){
            onDatePickerRangeChanged(ctrl);
        });
        var currentVal = document.getElementsByName($(ctrl).attr('data-for'))[0].value
        if (currentVal != "") {
            $(ctrl).data('daterangepicker').setStartDate(currentVal.split("-")[0]);
            $(ctrl).data('daterangepicker').setEndDate(currentVal.split("-")[1]);
            onDatePickerRangeChanged(ctrl);
        }
        });

        /*Apply iCheck to Input & Radio Buttons*/
        /*
        if(jQuery().iCheck){
        $('.icheck').iCheck({
            checkboxClass: 'icheckbox_square-blue checkbox',
            radioClass: 'iradio_square-blue'
        });
        }
        */

        $(".datetime").datetimepicker({autoclose: true});
        $(".form-select").select2();
        
        $(".md-trigger").click(function(evt){
        var url = $(this).attr("data-url");
        showAddEditPopup(url);
        });

        $("#filtershowbutton").click(function(evt){
            setTableSize();
        });


        window.onresize = setTableSize;
        setTableSize();
    });

</script>
{{end}}

{{ define "body" }}
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 filter-container">
        <div class="header card-header">
            <span class="h3">Filter</span>
            <!--
            <a id="filtershowbutton" class="btn btn-outline-dark" data-toggle="collapse" href="#filtercontent" role="button" aria-expanded="false" aria-controls="filtercontent">
                Show/Hide
            </a>
            -->
        </div>
        <div class="block-flat filter-controls">
            <div class="content" id="filtercontent">
                <form role="form">
                    {{ template "filtercontrols" .FilterDefaults }}
                    <div class="form-group">
                        <label></label>
                        <button type="submit" class="btn btn-primary pull-right submit-button">Apply</button>
                        <a class="btn pull-right cancel-button" href="?">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 block-flat list-container">
            <div class="content">
                <div class="table-responsive">
                    {{ template "datatable" .TableData }}
                </div>
            </div>
    </div>
</div>
{{ end }}
