<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,200,100" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    -->
  </head>
  <body class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
              <form class="form" method="post">
                {{range $msg := .Errors}}
                <div class="alert alert-danger alert-white rounded">
                  <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
                  <div class="icon"><i class="fa fa-times-circle"></i></div>
                  {{- $msg -}}
                </div>
                {{ end }}
                {{range $msg := .Messages}}
                <div class="alert alert-info">
                    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <i class="fa fa-info-circle sign"></i>
                    {{- $msg -}}
                  </div>
                {{ end }}
    
                <div class="form-group">
                  <input name="username" id="username" type="text" placeholder="username" class="form-control">
                </div>
    
                <div class="form-group">
                  <input name="password" id="password" type="password" placeholder="password" class="form-control">
                </div>
    
                <button data-dismiss="modal" type="submit" class="btn btn-primary">Log me in</button>
              </form>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center out-links"><a href="#">© 202020 Micronix Solutions, LLC.</a></div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
